<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861908418790-p4nje8c9g71khqqvuh4ltqa2ulq7mu7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861908418790-p4nje8c9g71khqqvuh4ltqa2ulq7mu7n</string>
	<key>API_KEY</key>
	<string>AIzaSyDNk44mNZf8xeYN99TQkv4VtMrDUFkDsnU</string>
	<key>GCM_SENDER_ID</key>
	<string>861908418790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ademtarhan.FirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>fir-48355</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-48355.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861908418790:ios:a707ad7d018212acbfbb27</string>
</dict>
</plist>